@import '../../assets/scss/_var.scss';

.header {
	width: 100%;
	padding: 10px 0;
	margin-bottom: 20px;

	img {
		width: 100px;
	}

	.title {
		font-size: 2rem;
		font-weight: bold;
		position: relative;
		text-transform: uppercase;
		letter-spacing: 2px;
		top: 10px;
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.header-select-timezone {
			height: 40px;
			flex: 1;
			max-width: 300px;
		}
	}
}

// custom select antd

@include sm {
	.header {
		img {
			width: 60px;
		}

		span {
			font-size: 1rem;
			top: 0;
		}

		.container {
			flex-direction: column;

			.header-select-timezone {
				max-width: 100%;
				width: 100%;
				margin-top: 4rem;
			}
		}
	}
}
